* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

main#container {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  flex-wrap: wrap;
}

.container {
  max-width: 1100px;
  margin: 20px auto;
  background: #fff;
  padding: 30px 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
}

.text,
.video {
  width: 45%;
}

.headline {
  font-size: 30px;
  font-weight: bold;
  color: #000;
  margin-bottom: 15px;
  line-height: 50px;
}
.subtext {
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
  line-height: 25px;
}

.subtext b {
  color: #696969;
}
.checks {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}
.checks li {
  font-size: 16px;
  font-weight: bolder;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  color: black;
}
.checks li i {
  color: #00cc00;
  border-radius: 50%;
  padding: 5px 6px;
  border: 2px solid #00cc00;
  font-weight: bolder;
  font-size: 1.2rem;
  margin-right: 10px;
}
.video-thumbnail {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.video-thumbnail img {
  width: 100%;
  border-radius: 5px;
}
.watch-button {
  display: block;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  background: #007bff;
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  padding: 15px;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background 0.3s;
}
.watch-button:hover {
  background: #0056b3;
}

.mobile-only {
  display: none;
}

footer {
  width: 100%;
  margin-top: 50px;
  background-color: #333;
  color: #ccc;
  padding: 20px 0;
  text-align: center;
}

footer a {
  color: white;
  font-size: 1.2rem;
  margin: 0 10px;
}

footer a:hover {
  text-decoration: underline;
}

footer div {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.6;
}

footer p {
  padding-top: 5px;
  margin: 10px 0;
  text-align: left;
}

@media (max-width: 768px) {
  .desktop-only {
    display: none;
  }
  .mobile-only {
    display: block;
  }
  .container {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .text,
  .video {
    width: 100%;
  }

  .headline {
    text-align: center;
    font-size: 28px;
    line-height: 1.4;
  }

  .video-thumbnail {
    margin: 20px 0;
  }

  .subtext {
    font-size: 14px;
  }

  .watch-button {
    margin-top: 20px;
  }
}
